
<div class="greet-main" id="greeting">
  <div class="greeting-main" wmAnimate="fadeIn" once speed="normal" [ngClass]="activeLang=='ar'?'rtl':'ltr'">
    <div class="greeting-text-div">
      <div>
        <h1 class="greeting-text">
          {{greeting.title | translate}}
          <span class="wave-emoji">👋</span>
        </h1>
        <p  class="greeting-text-p subTitle" >{{greeting.subTitle | translate}}</p>
            <!-- <app-social-media></app-social-media> -->
        <div class="button-greeting-div">
<!--        button-->
          <div>
            <a class="main-button glow-on-hover" href="#contact">{{"Contact Me" | translate}}</a>
          </div>
          <div>
            <button class="main-button glow-on-hover" (click)="windowResume()">{{"See my resume"| translate }}</button>
          </div>
<!--          <Button text="Contact me" href="#contact" />-->
<!--          <Button text="See my resume" newTab={true} href={greeting.resumeLink} />-->
        </div>
      </div>
    </div>
    <div class="greeting-image-div">
      <img src="assets/images/manOnTable.svg" alt="ghassen sitting on table">
    </div>
  </div>
</div>
